{% extends "base.html" %}

{% block title %}Delete Note{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="container-fluid position-absolute top-50 start-50 translate-middle">
        <div class="container-fluid w-25">
			<h1 class="w-100 text-center">Delete post</h1>
			<form action="" method="post">{% csrf_token %}
	    		<p class="w-100 text-center">Are you sure you want to delete "{{ note.notename }}"?</p>
	    		<div class="row">
				    <div class="col-sm">
	    				<button type="submit" class="p-2 btn btn-primary btn-block mb-4 w-100">Confirm</button>
	    			</div>
	    			<div class="col-sm">
	    				<button type="button" onclick="location.href='{% url 'home' %}';" class="p-2 btn btn-primary btn-block mb-4 w-100">Cancel</button>
	    			</div>
	    		</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
